<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/heapexplorer/HeapExplorer" 
       class = "org.xtext.heapexplorer.heapExplorer.HeapExplorerPackage"
       genModel = "model/generated/HeapExplorer.genmodel" /> 
	
  </extension>
  
  <extension
      id="copycoresources" name="Copy heap explorer's core sources" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.xtext.heapexplorer.natures.CopyCoreSources">
            <parameter name="optimize" value="true" />
            <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
   
   <extension
      id="compileAnalysis" name="Build Heap Explorer's Analysis" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.xtext.heapexplorer.natures.CompileHeapAnalysis">
            <parameter name="optimize" value="true" />
            <parameter name="comment" value="Builder comment" />
         </run>
      </builder>
   </extension>
  
  <extension
      point="org.eclipse.core.resources.natures"
      id="HeapExplorerNature"
      name="HeapExplorer Nature">
      <runtime>
         <run class="org.xtext.heapexplorer.natures.HeapExplorerNature">
         </run>
      </runtime>
   </extension>
  
</plugin>
